/* Variables */
/* Colors */
/* Font sizes */
/* Fonts */
/* Globals */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Roboto", sans-serif;
  color: #888585;
}

.main-container {
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1140px;
}

/* navigation */
.nav {
  background: #000000;
  height: auto;
}

.header {
  color: #ffffff;
  margin: 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.name {
  margin: 0;
  padding: 10px 30px 10px 20px;
  font-family: "Dancing Script", cursive;
  font-size: 26px;
}

.hamburger {
  padding: 10px;
  margin: 0 0 0 10px;
}

.hamburger a {
  color: #e8ebec;
  font-size: 14px;
}

.list {
  padding: 0 0 20px 0;
  border-bottom: 0.5px solid #888585;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 5px 0 5px 20px;
  width: 100%;
  border-left: 5px solid transparent;
  background: transparent;
  transition: all .3s ease-in-out;
}

ul li.active {
  border-color: #fc810e;
  background: #252525;
}

ul li:hover {
  border-color: #fc810e;
  background: #252525;
}

ul li a {
  font-size: 14px;
  text-decoration: none;
  color: #e8ebec;
}

ul li span {
  margin: 0 20px 20px 0;
}

/* Manager */
.manager-title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 10px auto;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.manager-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin: 10px auto;
}

.image {
  width: 60px;
  height: 60px;
  margin: 5px;
  position: relative;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.image::after {
  content: '';
  position: absolute;
  top: 5px;
  right: 1px;
  width: 12px;
  height: 12px;
  background: #2ac46f;
  border-radius: 100%;
}

.manager-name {
  color: #63a8cf;
  font-size: 14px;
}

/* Content */
/* Container 1 */
.content {
  background: #e0e2e4;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

.container-1 {
  height: 50px;
  background-color: #ffffff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
}

.box-1 {
  -ms-flex: 6.8;
      flex: 6.8;
  border-right: 1px solid #e0e2e4;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
}

.box-1 .wallet {
  height: 50px;
  margin: 40px;
  padding: 15px;
}

.box-2 {
  -ms-flex: 2;
      flex: 2;
  margin: 0 auto;
  border-right: 1px solid #e0e2e4;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
}

.box-2 .wallet {
  margin: 15px 10px 15px 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: center;
      flex-direction: center;
}

.box-2 .wallet i {
  color: #888585;
  font-size: 16px;
  margin: 0 auto;
}

.box-2 .cash {
  margin: 10px 10px;
  font-weight: bold;
}

.box-2 .menu {
  margin: 15px 15px 15px 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: center;
      flex-direction: center;
  text-decoration: none;
}

.box-2 .menu i {
  color: #888585;
  font-size: 16px;
  margin: 0 auto;
}

.box-3 {
  -ms-flex: 0.6;
      flex: 0.6;
  border-right: 1px solid #e0e2e4;
  margin: 0;
  padding: 0;
}

.box-3 .bell {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 100%;
  text-decoration: none;
  position: relative;
}

.box-3 .bell i {
  color: #888585;
  font-size: 16px;
}

.box-3 .bell::after {
  content: '';
  position: absolute;
  top: 15px;
  right: 15px;
  width: 8px;
  height: 8px;
  background: #fc810e;
  border-radius: 100%;
}

.box-4 {
  -ms-flex: 2;
      flex: 2;
  border-right: 1px solid #e0e2e4;
  margin: 0;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.box-4 .user {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: center;
      flex-direction: center;
  text-decoration: none;
  margin-right: 20px;
}

.box-4 .user i {
  color: #888585;
  font-size: 16px;
  margin: 0 auto;
}

.box-4 .user-name {
  font-size: 12px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: center;
      flex-direction: center;
  text-decoration: none;
  font-weight: bold;
}

.box-5 {
  -ms-flex: 0.6;
      flex: 0.6;
  border-right: 1px solid #e0e2e4;
  margin: 0;
  padding: 0;
}

.box-5 .send {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 100%;
  text-decoration: none;
}

.box-5 .send i {
  color: #888585;
  font-size: 16px;
}

/* Container 2 */
.container-2 {
  background-color: #ffffff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 12px;
}

/* Title */
.title-container {
  -ms-flex: 1;
      flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  border-bottom: 1px solid #e0e2e4;
}

.title-container .title-wrapper {
  font-size: 16px;
  padding-left: 20px;
  text-transform: uppercase;
  font-weight: normal;
  font-weight: bold;
}

/* Date */
.date-container {
  -ms-flex: 2;
      flex: 2;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  border-bottom: 1px solid #e0e2e4;
}

.date-range {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 20px 0;
}

.date-box-1 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
  margin: 0 10px 0 0;
  border: 1px solid #e0e2e4;
  border-radius: 3px;
}

.date-start {
  padding: 5px 50px 5px 15px;
  border-right: 1px solid #e0e2e4;
  font-size: 12px;
  font-weight: bold;
  color: #252525;
}

.date-end {
  padding: 5px 50px 5px 15px;
  font-size: 12px;
  font-weight: bold;
  color: #252525;
}

.calendar {
  color: #888585;
  padding: 5px 10px 5px 5px;
}

.reload {
  color: #ffffff;
  background-color: #fc810e;
  border-radius: 3px;
  padding: 9px;
}

/* Statisctic */
.statistic-container {
  -ms-flex: 9;
      flex: 9;
  -ms-flex-pack: center;
      justify-content: center;
}

/* Data container 1 */
.data-container-1 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
  margin: 20px 0 0 0;
}

.data-box-1 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 0 50px 0 0;
  border-bottom: 1px solid #e0e2e4;
  width: 250px;
}

.visit-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  font-size: 14px;
}

.visit-numbers-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  font-size: 14px;
}

.visit-signups {
  font-weight: bold;
}

.visit-numbers {
  padding: 5px;
  font-weight: bold;
  color: #252525;
}

.data-box-2 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 0 30px 0 0;
  border-bottom: 1px solid #e0e2e4;
  width: 250px;
}

.net-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  font-size: 14px;
}

.net-numbers-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  font-size: 14px;
}

.net-deposit {
  font-weight: bold;
}

.deposit-numbers {
  padding: 5px;
  font-weight: bold;
  color: #252525;
}

/* Data container 2 */
.data-container-2 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
  margin: 10px 0 0 0;
}

.data-box-3 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 0 50px 0 0;
  border-bottom: 1px solid #e0e2e4;
  width: 250px;
}

.ftd-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  font-size: 14px;
}

.ftd-numbers-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  font-size: 14px;
}

.ftd {
  font-weight: bold;
}

.ftd-numbers {
  padding: 5px;
  font-weight: bold;
  color: #252525;
}

.data-box-4 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 0 30px 0 0;
  border-bottom: 1px solid #e0e2e4;
  width: 250px;
}

.turn-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  font-size: 14px;
}

.turn-numbers-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  font-size: 14px;
}

.turn-over {
  font-weight: bold;
}

.turn-numbers {
  padding: 5px;
  font-weight: bold;
  color: #252525;
}

/* Data container 3 */
.data-container-3 {
  margin: 70px 0 0 180px;
}

.data-container-3 .earnings-chart {
  font-size: 16px;
  font-weight: bold;
  font-size: 14px;
}

/* Data container 4 */
.data-container-4 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
  margin: 30px;
  font-size: 14px;
}

.data-container-4 .dot-box-1 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  background: #e0e2e4;
  border-radius: 3px;
  margin: 0 40px 0 0;
  padding: 0;
}

.data-container-4 .dot-box-1 .blue {
  color: #80c5ec;
  padding: 5px 10px;
}

.data-container-4 .dot-box-1 .dot-signups {
  padding: 5px 10px 5px 0;
}

.data-container-4 .dot-box-2 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  background: #e0e2e4;
  border-radius: 3px;
  margin: 0 40px 0 0;
  padding: 0;
}

.data-container-4 .dot-box-2 .orange {
  color: #fc810e;
  padding: 5px 10px;
}

.data-container-4 .dot-box-2 .dot-signups {
  padding: 5px 10px 5px 0;
}

.data-container-4 .dot-box-3 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  border-radius: 3px;
  margin: 0 40px 0 0;
  padding: 0;
}

.data-container-4 .dot-box-3 .green {
  color: #2ac46f;
  padding: 5px 10px;
}

.data-container-4 .dot-box-3 .dot-signups {
  padding: 5px 10px 5px 0;
}

/* Chart */
.chart {
  margin: 40px 180px 40px 180px;
}

#myChart {
  max-width: 600px;
  max-height: 300px;
}

/* Container 3 */
.container-3 {
  background-color: #ffffff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 12px;
}

/* Title links */
.title-links-container {
  -ms-flex: 1;
      flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  border-bottom: 1px solid #e0e2e4;
}

.title-links-container .title-links {
  font-size: 16px;
  padding-left: 20px;
  text-transform: uppercase;
  font-weight: normal;
  font-weight: bold;
}

/* Websites container */
.web-sites-container {
  -ms-flex: 11;
      flex: 11;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

/* Button one container */
.button-one-container {
  margin: 20px;
}

.btn {
  margin: 20px auto 20px auto;
  padding: 5px 25px;
  border-radius: 3px;
  color: #ffffff;
  background-color: #fc810e;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

/* Table */
.sites-list-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

table {
  width: 600px;
  font-size: 14px;
  margin: 0;
  border-bottom: 1px solid #e8ebec;
}

tr {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
}

tr:hover {
  background-color: #e0e2e4;
}

td {
  border-top: 1px solid #e8ebec;
  padding: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
}

.no-1 {
  width: 250px;
  font-weight: bold;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
}

.no-2 {
  width: 250px;
  text-decoration: none;
}

.no-2 a {
  text-decoration: none;
  font-weight: bold;
  color: #63a8cf;
}

.no-3 {
  width: 50px;
  font-size: 12px;
}

.no-3 a {
  color: #fc810e;
}

.no-4 {
  width: 50px;
  font-size: 12px;
}

.no-4 a {
  color: #888585;
}

.col-1 {
  -ms-flex: 8.333%;
      flex: 8.333%;
}

.col-2 {
  -ms-flex: 16.667%;
      flex: 16.667%;
}

.col-3 {
  -ms-flex: 25%;
      flex: 25%;
}

.col-4 {
  -ms-flex: 33.333%;
      flex: 33.333%;
}

.col-5 {
  -ms-flex: 41.667%;
      flex: 41.667%;
}

.col-6 {
  -ms-flex: 50%;
      flex: 50%;
}

.col-7 {
  -ms-flex: 58.333%;
      flex: 58.333%;
}

.col-8 {
  -ms-flex: 66.667%;
      flex: 66.667%;
}

.col-9 {
  -ms-flex: 75%;
      flex: 75%;
}

.col-10 {
  -ms-flex: 83.333%;
      flex: 83.333%;
}

.col-11 {
  -ms-flex: 91.667%;
      flex: 91.667%;
}

.col-12 {
  -ms-flex: 100%;
      flex: 100%;
}
/*# sourceMappingURL=style.css.map */