/* Variables */

/* Colors */
$nav-background: #000000;
$nav-letters-1: #ffffff;
$nav-letters-2: #e8ebec;
$second-background: #e0e2e4;
$list-background: #252525;
$letters: #888585; 
$buttons: #fc810e;

/* Font sizes */
$paragraph-font-size: 16px; 

/* Fonts */
$paragraph-font: 'Roboto', sans-serif;
$brand-font: 'Dancing Script', cursive;

/* Globals */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: $paragraph-font-size;
    line-height: 1.7;
    font-family: $paragraph-font;
    color: $letters;
}

.main-container {
    display: flex;
    margin: 0 auto;
    max-width: 1140px;
}

/* navigation */

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100vh;
  z-index: 99;
  background: $nav-background;
  transform: translateX(-100%);
  transition: transform 0.2s ease-in-out;

  @media(min-width: 1024px) {
    position: relative;
    width: auto;
    height: auto;
    transform: translateX(0);
  }

  &.is-active {
    transform: translateX(0);
  }
}

.nav .trigger-menu {
  position: absolute;
  top: 0;
  right: -40px;
  width: 40px;
  height: 40px;
  border: none;
  background: $nav-background;
  color: #fff;

  &:focus {
    outline: none;
  }

  @media(min-width: 1024px) {
    display: none;
  }
}

.overlay {
  position: fixed;
  z-index: 98;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(#000, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
  
  &.is-active {
    opacity: 1;
    visibility: visible;
  }
  
  @media(min-width: 1024px) {
    display: none;
  }
}

.header{
    color: $nav-letters-1;
    margin: 5px;
    display: flex;
    align-items: center;
}
.name {
    margin: 0;
    padding: 10px 30px 10px 20px;
    font-family: $brand-font;
    font-size: 26px;
    
}

.hamburger {
    padding: 10px;
    margin: 0 0 0 10px;

    a {
        color: $nav-letters-2;
        font-size: 14px;
    }
}

.list {
    padding: 0 0 20px 0;
    border-bottom: 0.5px solid $letters;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
        
    li {
        margin: 0;
        padding: 5px 0 5px 20px;
        width: 100%;
        border-left: 5px solid transparent;
        background: transparent;
        transition: all .3s ease-in-out;

        &.active {
            border-color: $buttons;
            background: $list-background;
          }
          
        &:hover { 
            border-color: $buttons;
            background: $list-background;
          }

        a {
            font-size: 14px;
            text-decoration: none;
            color: $nav-letters-2;
        }

        span {
            margin: 0 20px 20px 0;
        }

    }

}

/* Manager */

.manager-title {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.manager-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.image {
    width: 60px;
    height: 60px;
    margin: 5px;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 100%;
    }

    &::after {
        content: '';
        position: absolute;
        top: 5px;
        right: 1px;
        width: 12px;
        height: 12px;
        background: #2ac46f;
        border-radius: 100%;
      }
}


.manager-name {
    color: #63a8cf;
    font-size: 14px;
}

/* Content */

/* Container 1 */

.content {
    background: $second-background;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

.container-1 {
    height: 50px;
    background-color: $nav-letters-1;
    display: flex;
    flex-direction: row;
}

.box-1 {
    flex: 6.8;
    border-right: 1px solid $second-background;
    display: flex;
    flex-direction: row;

    .wallet {
        height: 50px;
        margin: 40px;
        padding: 15px;
    }
}


.box-2 {
    flex: 2;
    margin: 0 auto;
    border-right: 1px solid $second-background;
    display: flex;
    flex-direction: row;

    .wallet {
        margin: 15px 10px 15px 15px;
        display: flex;
        align-items: center;
        text-decoration: none;

        i {
            color: $letters;
            font-size: 16px;
            margin: 0 auto;
        }
    }

    .cash {
        margin: 10px 10px;
        font-weight: bold;
    }

    .menu {
        margin: 15px 15px 15px 10px;
        display: flex;
        align-items: center;
        text-decoration: none;

        i {
            color: $letters;
            font-size: 16px;
            margin: 0 auto;
        }
    }
}

.box-3 {
    flex: 0.6;
    border-right: 1px solid $second-background;
    margin: 0;
    padding: 0;

    .bell {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-decoration: none;
        position: relative;
       
        i {
            color: $letters;
            font-size: 16px;
        }

        &::after {
            content: '';
            position: absolute;
            top: 15px;
            right: 15px;
            width: 8px;
            height: 8px;
            background: #fc810e;
            border-radius: 100%;
          }
    }
}

.box-4 {
    flex: 2;
    border-right: 1px solid $second-background;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
       

    .user {
        display: flex;
        flex-direction: center;
        text-decoration: none;
        margin-right: 20px;

        i {
            color: $letters;
            font-size: 16px;
            margin: 0 auto;
        }
    }

    .user-name {
        font-size: 12px;
        display: flex;
        flex-direction: center;
        text-decoration: none;
        font-weight: bold; 
    }

}

.box-5 {
    flex: 0.6;
    border-right: 1px solid $second-background;
    margin: 0;
    padding: 0;

    .send {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-decoration: none;
       
        i {
            color: $letters;
            font-size: 16px;
        }
    }
}

/* Container 2 */

.container-2 {
    background-color: $nav-letters-1;
    display: flex;
    flex-direction: column;
    margin: 12px;
}

/* Title */

.title-container {
    flex: 1;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $second-background;

    .title-wrapper {
        font-size: 16px;
        padding-left: 20px;
        text-transform: uppercase;
        font-weight: normal;
        font-weight: bold;
    }

}

/* Date */
.date-container {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $second-background;
}

.date-range {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.date-box-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0 10px 0 0;
    border: 1px solid $second-background;
    border-radius: 3px;
}

.date-start {
    padding: 5px 50px 5px 15px;
    border-right: 1px solid $second-background;
    font-size: 12px;
    font-weight: bold;
    color: $list-background;
}

.date-end {
    padding: 5px 50px 5px 15px;
    font-size: 12px;
    font-weight: bold;
    color: $list-background;
}

.calendar {
    color: $letters;
    padding: 5px 10px 5px 5px;
}


.reload {
    color: $nav-letters-1;
    background-color: $buttons;
    border-radius: 3px;
    padding: 9px;
}

/* Statistic */

.statistic-container {
    flex: 9;
    justify-content: center;
}

/* Data container 1 */

.data-container-1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin: 10px 0 0 0;

    @media(min-width: 1024px) {
      flex-direction: row;
      margin: 20px 0 0 0;
      justify-content: center;
    }
}

.data-box-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    justify-content: space-between;
    margin: 0;
    border-bottom: 1px solid $second-background;
    width: 250px;

    @media(min-width: 1024px) {
        margin: 0 50px 0 0;
        width: 250px;
      }
}

.visit-box {
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
}

.visit-numbers-box {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
}
 

.visit-signups {
    font-weight: bold;
}

.visit-numbers {
    padding: 5px;
    font-weight: bold;
    color: $list-background;
}

.data-box-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    justify-content: space-between;
    margin: 0;
    border-bottom: 1px solid $second-background;
    width: 250px;

    @media(min-width: 1024px) {
        width: 250px;
      }
}

.net-box {
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
}

.net-numbers-box {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
}
 
.net-deposit {
    font-weight: bold;
}

.deposit-numbers {
    padding: 5px;
    font-weight: bold;
    color: $list-background;
}

/* Data container 2 */

.data-container-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;

    @media(min-width: 1024px) {
      flex-direction: row;
      margin: 10px 0 0 0;
    }
}

.data-box-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    justify-content: space-between;
    margin: 0;
    border-bottom: 1px solid $second-background;
    width: 250px;

    @media(min-width: 1024px) {
        margin: 0 50px 0 0;
        width: 250px;
    }
}

.ftd-box {
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
}

.ftd-numbers-box {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
}
 

.ftd {
    font-weight: bold;
}

.ftd-numbers {
    padding: 5px;
    font-weight: bold;
    color: $list-background;
}

.data-box-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    justify-content: space-between;
    margin: 0;
    border-bottom: 1px solid $second-background;
    width: 250px;

    @media(min-width: 1024px) {
        width: 250px;
    }
}

.turn-box {
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
}

.turn-numbers-box {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
}
 
.turn-over {
    font-weight: bold;
}

.turn-numbers {
    padding: 5px;
    font-weight: bold;
    color: $list-background;
}

/* Data container 3 */

.data-container-3 {
    margin: 40px 0 0 50px;

    @media(min-width: 1024px) {
        margin: 70px 0 0 180px;
    }

    .earnings-chart {
        font-size: 16px;
        font-weight: bold;
        font-size: 14px;
    }
}

/* Data container 4 */

.data-container-4 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 30px;
    font-size: 14px;

    .dot-box-1 {
        display: flex;
        flex-direction: row;
        background: $second-background;
        border-radius: 3px;
        margin: 0 10px 0 0;
        padding: 0;

        @media(min-width: 1024px) {
          margin: 0 40px 0 0;
        }

        .blue {
            color: #80c5ec;
            padding: 5px 10px;
        }

        .dot-signups {
            padding: 5px 10px 5px 0;
        }
    }

    .dot-box-2 {
        display: flex;
        flex-direction: row;
        background: $second-background;
        border-radius: 3px;
        margin: 0 10px 0 0;
        padding: 0;

        @media(min-width: 1024px) {
          margin: 0 40px 0 0;
        }

        .orange {
            color: $buttons;
            padding: 5px 10px;
        }

        .dot-signups {
            padding: 5px 10px 5px 0;
        }
    }

    .dot-box-3 {
        display: flex;
        flex-direction: row;
        border-radius: 3px;
        margin: 0;
        padding: 0;

        .green {
            color: #2ac46f;
            padding: 5px 10px;
        }

        .dot-signups {
            padding: 5px 10px 5px 0;
        }
    }
}

/* Chart */


.chart {
    display: none;

    @media(min-width: 1024px) {
        display: flex;
        margin: 40px 180px 40px 180px;
    } 
}
  
#myChart {
    max-width: 600px;
    max-height: 300px;
}


/* Container 3 */

.container-3 {
    display: flex;
    background-color: $nav-letters-1;
    flex-direction: column;
    margin: 12px;

    @media(min-width: 1024px) {
      display: flex;
    }
}

/* Title links */

.title-links-container {
    flex: 1;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $second-background;

    .title-links {
        font-size: 16px;
        padding-left: 20px;
        text-transform: uppercase;
        font-weight: normal;
        font-weight: bold;
    }
}

/* Websites container */

.web-sites-container {
    flex: 11;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;;
}

/* Button one container */
.button-one-container {
    margin: 20px;
}

.btn {
    margin: 20px auto 20px auto;
    padding: 5px 25px;
    border-radius: 3px;
    color: $nav-letters-1;
    background-color: $buttons;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

/* Table */

.sites-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-bottom: 1px solid $nav-letters-2; 
}

.list-box {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: center;

    @media(min-width: 1024px) {
        padding: 10px 20px;
        border-top: 1px solid $nav-letters-2; 
    }
    
    &:hover {
        background-color: $second-background;

        .no-3, .no-4 {
            a {
                opacity: 1;
            }
        }
    }
}

.no-1 {
    font-weight: bold;    
    display: flex;
    justify-content: flex-start;
    width: 100px;

    @media(min-width: 1024px) {
        width: 200px;
    }
}

.no-2 {
    width: 100px;
    text-decoration: none;
    padding: 0;
    margin: 0;

    @media(min-width: 1024px) {
        width: 200px;
    }

    a {
        text-decoration: none;
        font-weight: bold;
        color: #63a8cf;
    }
}

.no-3 {
    width: 50px;
    font-size: 12px;

    a {
       color: $buttons; 
       opacity: 0;
    }
}

.no-4 {
    width: 50px;
    font-size: 12px;

    a {
        color: $letters;
        opacity: 0;
    }
}

.col-1 {flex: 8.333%;}
.col-2 {flex: 16.667%;}
.col-3 {flex: 25%;}
.col-4 {flex: 33.333%;}
.col-5 {flex: 41.667%;}
.col-6 {flex: 50%;}
.col-7 {flex: 58.333%;}
.col-8 {flex: 66.667%;}
.col-9 {flex: 75%;}
.col-10 {flex: 83.333%;}
.col-11 {flex: 91.667%;}
.col-12 {flex: 100%;}

/* Media */

@media (max-width: 767px) {

    .main-container {
        width: auto;
        margin: 0 auto;
        font-size: 14px;
    }

    .container-1 {
       display: flex;
       flex-wrap: wrap;
       height: auto; 

       .box-1 {
           display: none;
       }

       .box-2 {
           flex: 5;
           justify-content: center;
       }

       .box-3 {
           flex: 1;
       }

       .box-4 {
           flex: 5;
       }

       .box-5 {
           flex: 1;
       }
    }
}


